# this jwt signing key is read by master and volume server, and it is used for write operations:
# - the Master server generates the JWT, which can be used to write a certain file on a volume server
# - the Volume server validates the JWT on writing
# the jwt defaults to expire after 10 seconds.
[jwt.signing]
key = "{{ seaweedfs_security_jwt }}"
expires_after_seconds = 10           # seconds

# by default, if the signing key above is set, the Volume UI over HTTP is disabled.
# by setting ui.access to true, you can re-enable the Volume UI. Despite
# some information leakage (as the UI is not authenticated), this should not
# pose a security risk.
[access]
ui = {{ seaweedfs_security_ui | lower }}

# this jwt signing key is read by master and volume server, and it is used for read operations:
# - the Master server generates the JWT, which can be used to read a certain file on a volume server
# - the Volume server validates the JWT on reading
# NOTE: jwt for read is only supported with master+volume setup. Filer does not support this mode.
[jwt.signing.read]
key = "{{ seaweedfs_security_jwt_read }}"
expires_after_seconds = 10           # seconds


# If this JWT key is configured, Filer only accepts writes over HTTP if they are signed with this JWT:
# - f.e. the S3 API Shim generates the JWT
# - the Filer server validates the JWT on writing
# the jwt defaults to expire after 10 seconds.
[jwt.filer_signing]
key = "{{ seaweedfs_securyty_jwt_filer }}"
expires_after_seconds = 10           # seconds

# If this JWT key is configured, Filer only accepts reads over HTTP if they are signed with this JWT:
# - f.e. the S3 API Shim generates the JWT
# - the Filer server validates the JWT on writing
# the jwt defaults to expire after 10 seconds.
[jwt.filer_signing.read]
key = "{{ seaweedfs_securyty_jwt_filer_read }}"
expires_after_seconds = 10           # seconds

# all grpc tls authentications are mutual
# the values for the following ca, cert, and key are paths to the PERM files.
# the host name is not checked, so the PERM files can be shared.
[grpc]
ca = "{% if seaweedfs_ca | length > 0 %}{{ seaweedfs_etc }}/{{ seaweedfs_ca }}{% endif %}"
# Set wildcard domain for enable TLS authentication by common names
allowed_wildcard_domain = "" # .mycompany.com

[grpc.volume]
cert = "{% if seaweedfs_volume_cert | length > 0 %}{{ seaweedfs_etc }}/{{ seaweedfs_volume_cert }}{% endif %}"
key = "{% if seaweedfs_volume_key | length > 0 %}{{ seaweedfs_etc }}/{{ seaweedfs_volume_key }}{% endif %}"
allowed_commonNames = ""    # comma-separated SSL certificate common names

[grpc.master]
cert = "{% if seaweedfs_master_cert | length > 0 %}{{ seaweedfs_etc }}/{{ seaweedfs_master_cert }}{% endif %}"
key = "{% if seaweedfs_master_key | length > 0 %}{{ seaweedfs_etc }}/{{ seaweedfs_master_key }}{% endif %}"
allowed_commonNames = ""    # comma-separated SSL certificate common names

[grpc.filer]
cert = "{% if seaweedfs_filer_cert | length > 0 %}{{ seaweedfs_etc }}/{{ seaweedfs_filer_cert }}{% endif %}"
key = "{% if seaweedfs_filer_key | length > 0 %}{{ seaweedfs_etc }}/{{ seaweedfs_filer_key }}{% endif %}"
allowed_commonNames = ""    # comma-separated SSL certificate common names

[grpc.s3]
cert = ""
key = ""
allowed_commonNames = ""    # comma-separated SSL certificate common names

[grpc.msg_broker]
cert = ""
key = ""
allowed_commonNames = ""    # comma-separated SSL certificate common names

# use this for any place needs a grpc client
# i.e., "weed backup|benchmark|filer.copy|filer.replicate|mount|s3|upload"
[grpc.client]
cert = "{% if seaweedfs_client_cert | length > 0 %}{{ seaweedfs_etc }}/{{ seaweedfs_client_cert }}{% endif %}"
key = "{% if seaweedfs_client_key | length > 0 %}{{ seaweedfs_etc }}/{{ seaweedfs_client_key }}{% endif %}"

# volume server https options
# Note: work in progress!
#     this does not work with other clients, e.g., "weed filer|mount" etc, yet.
[https.client]
enabled = true

[https.volume]
cert = ""
key = ""
ca = ""

[https.master]
cert = ""
key = ""
ca = ""
